#progress {
    margin-top: 20px;
    margin-bottom: 20px;
}

.score-toolbar, .ternary-choice-toolbar {
    margin-top: 20px;
    text-align: center;
}

.score-toolbar button, .ternary-choice-toolbar button {
    width: 10%;
    min-width: 100px;
}

figure {
    display: inline-block;
    margin-bottom: 4px;
}

figure img {
    width: 24vh;
    max-width: 24vw;
    height: 24vh;
    max-height: 24vw;
}

.center-text {
    text-align: center;
}

.borderless td, .borderless th {
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

h1, h2 {
    margin-top: 30px;
}

h3, h4 {
    margin-top: 20px;
}