#progress {
    margin-top: 20px;
    margin-bottom: 20px;
}

.comp .eval {
    width: 100%;
    marign: 0;
}

.score-toolbar, .choice-toolbar {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

#scores {
    display: inline;
}

#help-scores button {
    width: 170px;
    height: 35px;
    display: block;
    margin: auto;
}

#discard-button {
    margin-top: 10px;
    width: 100%;
}

.score-toolbar button {
    width: 170px;
}

.choice-toolbar button {
    width: 160px;
}

#help figure {
    width: 100%;
}

#help figure img {
    width: 80%;
    height: auto;
}

.eval figure, .comp figure {
    display: inline-block;
    margin-bottom: 4px;
}

.eval figure img {
    width: 45vw;
    max-width: 60vh;
    height: auto;
}

.comp figure img {
    width: 45vw;
    max-width: 35vh;
    height: auto;
}

.center-text {
    text-align: center;
}

.borderless td, .borderless th {
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

h1, h2 {
    margin-top: 30px;
}

h3, h4 {
    margin-top: 20px;
}